* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --overpass: "Overpass", sans-serif;
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(217, 12%, 63%);
  --mediumgrey: hsl(216, 12%, 54%);
  --darkblue: hsl(213, 19%, 18%);
  --verydarkblue: hsl(216, 12%, 8%);
  --background: hsl(225, 9%, 9%);
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 375px;
  min-width: 375px;
  margin: 0 auto;
  font-family: var(--overpass);
  background: var(--background);
}
.inactive {
  display: none;
}

.main-container {
  background: linear-gradient(0deg, var(--verydarkblue), var(--darkblue));
  /* background: var(--darkblue); */
  border-radius: 8px;
  padding: 2.4rem;
  width: 85%;
  height: 320px;
  margin: 16px 0;
}

.initial-state figure {
  width: 40px;
  height: 40px;
  background: var(--darkblue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initial-state img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30%;
  height: 30%;
}

.title {
  color: var(--white);
  font-size: 2.4rem;
  margin: 16px 0 0 0;
  font-weight: 400;
}

.text {
  font-size: 1.3rem;
  color: var(--mediumgrey);
  margin: 16px 1px 0 0;
  line-height: 2rem;
  font-weight: 400;
}

.initial-state ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  margin: 24px 0 0 0;
}
.initial-state ul li {
  width: 40px;
  height: 40px;
  color: var(--mediumgrey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.3rem;
  background: var(--darkblue);
}

.initial-state ul li:hover {
  background: var(--orange);
}

.initial-state ul li .one {
  background: var(--darkblue);
}
.initial-state ul li .two {
  background: var(--darkblue);
}
.initial-state ul li .three {
  background: var(--darkblue);
}
.initial-state ul li .four {
  background: var(--darkblue);
}
.initial-state ul li .five {
  background: var(--darkblue);
}

.btn {
  height: 4rem;
  background: var(--orange);
  color: var(--white);
  border-radius: 30px;
  font-size: 1.3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: not-allowed;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
